* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    --color-principal: #FFFFFF;
    --font-principal: 'Playfair Display',
    serif;
    --font-secundary:'Montserrat', sans-serif;
}

html, body {
    width: 80vw;
    margin: 0 auto;
    background-color: var(--color-principal);
    font-family: var(--font-principal);
}

img {
    max-width: 100%;
    height: auto;
}

#main {
    width: 697px;
    margin: 2rem;
}

#main h1 {
    font: normal bold 48px/64px var(--font-principal);
    margin-top: 1rem;
}

#main p {
    font: italic 500 14px/17px var(--font-secundary);
}

#principal {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
    margin: 2rem 0 2rem 0;
    max-width: 100%;
    height: auto;
}

#barralateral {
    display: grid;
    grid-template-columns: 1fr;
    order: 2;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: 216px;
    height: 367px;
    align-items: center;
    justify-items: center;
}

#barralateral div {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
    max-width: 80%;
}

#barralateral div div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.parrafo {
    font: normal bold 10px/12px var(--font-secundary);
    color: #BDBDBD;
}

.parraf {
    font: normal 500 14px/17px var(--font-secundary);
}
.nv {
    color: #F2994A;
}

#ingredients {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    order: 1;
}

#ingredients h2 {
    font: normal bold 24px/32px var(--font-principal);
}

#ingredients h4 {
    font: italic normal 18px/24px var(--font-principal);
}

.ingre {
    display: grid;
    grid-template-columns: .2fr 4fr;
    align-items: center;
    grid-gap: 1rem;
    font: normal normal 16px/20px var(--font-secundary);
}

.ingre [type=checkbox] {
    width: 1rem;
    height: 1rem;
}

#intructions {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    max-width: 100%;
    width: 697px;
    height: auto;
}

#intructions h3 {
    font: normal bold 24px/32px var(--font-principal);
}

#intructions div {
    display: grid;
    grid-template-columns: .3fr 4fr;
    font: normal normal 16px/20px var(--font-secundary);
}

#intructions div span {
    width: 36px;
    height: 36px;
    background: #F2994A;
    border-radius: 6px;
    text-align: center;
    font: normal bold 24px/32px var(--font-principal);
    color: var(--color-principal);
}

#source {
    max-width: 100%;
    width: 697px;
    text-align: left;
    height: 3rem;
    margin: 2rem 0 2rem 0;
    font: italic normal 16px/150% var(--font-secundary);
    color: #BDBDBD;
}

footer {
    max-width: 100%;
    text-align: center;
    height: 1rem;
    margin: 2rem 0 2rem 0;
    font: normal 500 14px/17px var(--font-secundary);
    color: #828282;
}

@media screen and (max-width: 768px) {
    html,body {
        width: 90vw;
    }

    #main {
        width: 100%;
        margin: 1rem 0 1rem 0;
    }

    #principal {
        grid-template-columns: 1fr;
    }

    #barralateral {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: auto;
        order: 1;
        box-shadow: none;
        border-radius: none;
    }

    #ingredients {
        order: 2;
    }

    #intructions div span {
        margin-right: 1rem;
    }

}